<html ng-app>
<head>
	<title>Skill Calculator</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
<script type="text/javascript" src="classes.js"></script>
<script type="text/javascript" src="app.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
<body onmousemove="javascript:mouseXY();" ng-controller="SkillCtrl">
	<div id="wrapper">
		<div id="class-list">
			<span ng-repeat="class in all_classes" ng-click="setClass(class)">{{class.name}}</span>
		</div>
		<div>
			<img class="float-left" id="classImage" ng-src="{{current_class.image}}">
			<div id="class" class="float-left">
				<h1>{{current_class.subclass}}</h1>
				<h2>{{current_class.name}} SUBCLASS</h2>
			</div>
		</div>
		<p id='class-desc'>{{current_class.description}}</p>
		<div id="stats">
			<div>
				<span>Armor</span>
				<div class="bar">
					<div class="fill" style="width:{{stats.armor}}%"></div>
					<div class="add" style="width:{{buffs.armor}}%"></div>
					<div class="sub" style="width:{{debuffs.armor}}%;margin-left:-{{calcLeft(debuffs.armor)}}%"></div>
				</div>
			</div>
			<div>
				<span>Recovery</span>
				<div class="bar">
					<div class="fill" style="width:{{stats.recovery}}%"></div>
					<div class="add" style="width:{{buffs.recovery}}%"></div>
					<div class="sub" style="width:{{debuffs.recovery}}%;margin-left:-{{calcLeft(debuffs.recovery)}}%"></div>
				</div>
			</div>
			<div>
				<span>Agility</span>
				<div class="bar">
					<div class="fill" style="width:{{stats.agility}}%"></div>
					<div class="add" style="width:{{buffs.agility}}%"></div>
					<div class="sub" style="width:{{debuffs.agility}}%;margin-left:-{{calcLeft(debuffs.agility)}}%"></div>
				</div>
			</div>
		</div>
		<div id="sheet" >
			<section ng-repeat="row in current_class.skills">
				<div
					class="skill"
					ng-repeat="skill in row"
					ng-class="{empty: skill.empty, active: skill.active}"
					ng-mouseenter="showSkill($parent.$index, $index)"
					ng-mouseleave="clearTooltip()"
					ng-click="toggleSkill($parent.$index, $index)">
					<img ng-hide="skill.empty" ng-src="{{getImagePath($parent.$index, $index)}}">
				</div>
		</div>
	</div>
	<div id="tooltip" ng-hide="tooltip.name==''">
		<div class="itemHeader">
			<div class="itemName">{{tooltip.name}}</div>
		</div>
		<div class="itemBody">
			<div class="itemDescription">{{tooltip.description}}</div>
		</div>
	</div>
</body>
</html>