* {
	margin: 0;
	padding: 0;
}
body {
	background: -moz-radial-gradient(circle, #9EA792, #223539);
	background: -webkit-radial-gradient(circle, #9EA792, #223539);
	background: url(gradient_green.jpg) no-repeat;
	color: white;
	position: relative;
	padding-top: 40px;
	font-family: sans-serif;
}
.float-left {
	display: block;
	float: left;
}
#wrapper {
	width: 760px;
	position: absolute;
	left: 50%;
	margin-left: -380px;
}
#class-list {
	text-align: center;
	font-size: 24px;
}
#class-list span {
	margin: 0 0 10px;
	padding: 0 10px 0 10px;
	border-left: 1px solid rgba(255,255,255,0.4);
	cursor: pointer;
}
#class-list span:hover {
	text-decoration: underline;
}
#class-list span:first-child {
	border: none;
}
#class {
	/*margin-top: -10px;*/
	margin-left: 10px;
}
#classImage {
	border: 4px solid #DDD;
	width: 82px;
	height: 82px;
}
#class-desc {
	clear: both;
	display: block;
	padding-top: 20px;
}
h1 {
	margin-top: 6px;
	font-size: 2.4em;
	font-weight: normal;
}
h2 {
	line-height: 1.5em;
	font-weight: normal;
	font-size: 1.3em;
	text-transform: uppercase;
}
#stats {
	width: 670px;
	border-top:  4px solid rgba(245,245,245,0.25);
	border-bottom:  4px solid rgba(245,245,245,0.25);
	padding: 10px 0;
	margin: 30px 0 10px;
	font-size: 20px;
	color: rgba(255,255,255,0.8);
	font-weight: bold;
}
#stats span {
	width: 100px;
	display: inline-block;
	text-align: right;
}
#stats > div {
	margin: 4px 0;
}
#stats .bar {
	display: inline-block;
	width: 200px;
	height: 20px;
	margin-bottom: -3px;
	background: rgba(255,255,255,0.1);
	max-width: 200px;
	overflow: hidden;
	white-space:nowrap;
}
#stats .bar .fill {
	display:inline-block;
	height: 20px;
	width: 0;
	max-width: 200px;
	background: rgba(255,255,255, 0.9);
}
@-webkit-keyframes moving-gradient {
    0% { background-position: right bottom; }
    100% { background-position: left bottom; }
}
#stats .bar .add {
	display: inline-block;
	height: 20px;
	width: 0;
	background: #43904A;
	margin-left: -6px;

	background: -webkit-linear-gradient(
        left,
        #82CB7A 30%,
        #5BBD55 80%,
        #82CB7A 100%
    ) repeat;
    
    -webkit-background-size: 200px 100%;
    -webkit-animation-name: moving-gradient;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
}
#stats .bar .sub {
	display: inline-block;
	height: 20px;
	width: 0;
	background: -webkit-linear-gradient(
        left,
        #c48383 30%,
        #c43b3b 80%,
        #c48383 100%
    ) repeat;

	-webkit-background-size: 200px 100%;
    -webkit-animation-name: moving-gradient;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
}
#sheet {

}
section {
	clear: both;
}
.skill {
	width: 62px;
	height: 62px;
	background: rgba(255,255,255,0.1);
	border-radius: 50%;
	border: 6px solid #5EA16A;
	margin: 5px;
	float: left;
	overflow: hidden;
	position: relative;
}
.skill img {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
}
.skill:not(.empty) {
	transition: all 0.10s linear;
	cursor: pointer;
}
.skill:not(.active):hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
@keyframes pulse {
	0% { box-shadow: 0 0 14px rgba(255,255,255,1);}
	50% { box-shadow: 0 0 14px rgba(255,255,255,0.5);}
	100% { box-shadow: 0 0 14px rgba(255,255,255,1);}
}
@-webkit-keyframes pulse {
	0% { -webkit-box-shadow: 0 0 14px rgba(255,255,255,1);}
	50% { -webkit-box-shadow: 0 0 14px rgba(255,255,255,0.5);}
	100% { -webkit-box-shadow: 0 0 14px rgba(255,255,255,1);}
}
.skill:not(.empty).active:hover {
	-webkit-animation: pulse 3s infinite ease-in-out;
	animation: pulse 3s infinite ease-in-out;
}
.skill.active {
	background: #4887ba;
	border-color: #4887ba;
}
.empty {
	width: 74px;
	height: 74px;
	margin: 5px;
	background: none;
	border: none;
}
#tooltip {
	width: 350px;
	position: absolute;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#tooltip .itemName {
	display: block;
	text-transform: uppercase;
	font-size: 22px;
	padding: 10px;
	line-height: 24px;
	background: rgba(195,188,180,0.9);
	color: rgb(26, 30, 36);
	font-weight: bold;
}
#tooltip .itemBody {
	background: rgba(0,0,0,0.9);
	padding: 10px;
}
#tooltip .itemDescription {
	padding: 0.6em;
	font-size: 16px;
	color: #f5f5f5;
	opacity: 0.8;
	font-style: italic;
	margin: 4px 48px 14px 48px;
}